/* create proper spacing for fixed navbar */
body {
    margin-top: 50px;
}

/* ui class to make clickable things more identifiable to the user */
.hoverPointer:hover {
    cursor: pointer;
    cursor: hand;
}

/* general styling tweaks */

.release {
    margin-bottom: 10px;
}

.wantItButton {
    display: inline-block;
}

#wantSearchResults {
    max-width: 800px;
}

/* splash page */

#splash {
    color: #fff;
    background: url("../images/minyl-splash.jpg") no-repeat center center fixed;
    background-size: cover;
}

#rockQuote {
    margin-top: 50px;
    margin-bottom: 100%;
}

/* outline text */
.strokeme {
    color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

#demo-button {
    margin-top: 10px;
}

#main-logo {
    margin-top: 50px;
    max-width: 375px;
}

/* navbar */

.navbar-brand {
    padding: 10px 15px;
}