/* create proper spacing for fixed navbar */
body {
    margin-top: 50px;
}

/* ui class to make clickable things more identifiable to the user */
.hoverPointer:hover {
    cursor: pointer;
    cursor: hand;
}

/* general styling tweaks */

.release {
    margin-bottom: 10px;
}

.wantItButton {
    display: inline-block;
}

#wantSearchResults {
    max-width: 800px;
}

/* splash page */

#splash {
    color: #fff;
    background: url("../images/minyl-splash.jpg") no-repeat center center fixed;
    background-size: cover;
}

#rockQuote {
    margin-bottom: 100%;
}